<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="virtualjaguar_usefastblitter" values="disabled|enabled" default="disabled"/>
		<setting label="30002" type="select" id="virtualjaguar_doom_res_hack" values="disabled|enabled" default="disabled"/>
		<setting label="30003" type="select" id="virtualjaguar_bios" values="disabled|enabled" default="disabled"/>
		<setting label="30004" type="select" id="virtualjaguar_pal" values="disabled|enabled" default="disabled"/>
		<setting label="30005" type="select" id="virtualjaguar_alt_inputs" values="disabled|enabled" default="disabled"/>
		<setting label="30006" type="select" id="virtualjaguar_p1_numpad_to_kb" values="disabled|numbers|keypad" default="disabled"/>
		<setting label="30007" type="select" id="virtualjaguar_p1_retropad_up" values="up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="up"/>
		<setting label="30008" type="select" id="virtualjaguar_p1_retropad_down" values="down|up|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="down"/>
		<setting label="30009" type="select" id="virtualjaguar_p1_retropad_left" values="left|up|down|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="left"/>
		<setting label="30010" type="select" id="virtualjaguar_p1_retropad_right" values="right|up|down|left|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="right"/>
		<setting label="30011" type="select" id="virtualjaguar_p1_retropad_a" values="btn_a|up|down|left|right|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="btn_a"/>
		<setting label="30012" type="select" id="virtualjaguar_p1_retropad_b" values="btn_b|up|down|left|right|btn_a|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="btn_b"/>
		<setting label="30013" type="select" id="virtualjaguar_p1_retropad_x" values="num_0|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="num_0"/>
		<setting label="30014" type="select" id="virtualjaguar_p1_retropad_y" values="btn_c|up|down|left|right|btn_a|btn_b|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="btn_c"/>
		<setting label="30015" type="select" id="virtualjaguar_p1_retropad_select" values="pause|up|down|left|right|btn_a|btn_b|btn_c|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="pause"/>
		<setting label="30016" type="select" id="virtualjaguar_p1_retropad_start" values="option|up|down|left|right|btn_a|btn_b|btn_c|pause|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="option"/>
		<setting label="30017" type="select" id="virtualjaguar_p1_retropad_l1" values="num_1|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="num_1"/>
		<setting label="30018" type="select" id="virtualjaguar_p1_retropad_r1" values="num_2|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="num_2"/>
		<setting label="30019" type="select" id="virtualjaguar_p1_retropad_l2" values="num_3|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="num_3"/>
		<setting label="30020" type="select" id="virtualjaguar_p1_retropad_r2" values="num_4|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="num_4"/>
		<setting label="30021" type="select" id="virtualjaguar_p1_retropad_l3" values="num_5|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_6|num_7|num_8|num_9|star|hash|---" default="num_5"/>
		<setting label="30022" type="select" id="virtualjaguar_p1_retropad_r3" values="num_6|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_7|num_8|num_9|star|hash|---" default="num_6"/>
		<setting label="30023" type="select" id="virtualjaguar_p1_retropad_analog_lu" values="---|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash" default="---"/>
		<setting label="30024" type="select" id="virtualjaguar_p1_retropad_analog_ld" values="---|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash" default="---"/>
		<setting label="30025" type="select" id="virtualjaguar_p1_retropad_analog_ll" values="---|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash" default="---"/>
		<setting label="30026" type="select" id="virtualjaguar_p1_retropad_analog_lr" values="---|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash" default="---"/>
		<setting label="30027" type="select" id="virtualjaguar_p1_retropad_analog_ru" values="---|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash" default="---"/>
		<setting label="30028" type="select" id="virtualjaguar_p1_retropad_analog_rd" values="---|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash" default="---"/>
		<setting label="30029" type="select" id="virtualjaguar_p1_retropad_analog_rl" values="---|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash" default="---"/>
		<setting label="30030" type="select" id="virtualjaguar_p1_retropad_analog_rr" values="---|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash" default="---"/>
		<setting label="30031" type="select" id="virtualjaguar_p2_numpad_to_kb" values="disabled|numbers|keypad" default="disabled"/>
		<setting label="30032" type="select" id="virtualjaguar_p2_retropad_up" values="up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="up"/>
		<setting label="30033" type="select" id="virtualjaguar_p2_retropad_down" values="down|up|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="down"/>
		<setting label="30034" type="select" id="virtualjaguar_p2_retropad_left" values="left|up|down|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="left"/>
		<setting label="30035" type="select" id="virtualjaguar_p2_retropad_right" values="right|up|down|left|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="right"/>
		<setting label="30036" type="select" id="virtualjaguar_p2_retropad_a" values="btn_a|up|down|left|right|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="btn_a"/>
		<setting label="30037" type="select" id="virtualjaguar_p2_retropad_b" values="btn_b|up|down|left|right|btn_a|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="btn_b"/>
		<setting label="30038" type="select" id="virtualjaguar_p2_retropad_x" values="num_0|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="num_0"/>
		<setting label="30039" type="select" id="virtualjaguar_p2_retropad_y" values="btn_c|up|down|left|right|btn_a|btn_b|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="btn_c"/>
		<setting label="30040" type="select" id="virtualjaguar_p2_retropad_select" values="pause|up|down|left|right|btn_a|btn_b|btn_c|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="pause"/>
		<setting label="30041" type="select" id="virtualjaguar_p2_retropad_start" values="option|up|down|left|right|btn_a|btn_b|btn_c|pause|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="option"/>
		<setting label="30042" type="select" id="virtualjaguar_p2_retropad_l1" values="num_1|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="num_1"/>
		<setting label="30043" type="select" id="virtualjaguar_p2_retropad_r1" values="num_2|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="num_2"/>
		<setting label="30044" type="select" id="virtualjaguar_p2_retropad_l2" values="num_3|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_4|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="num_3"/>
		<setting label="30045" type="select" id="virtualjaguar_p2_retropad_r2" values="num_4|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_5|num_6|num_7|num_8|num_9|star|hash|---" default="num_4"/>
		<setting label="30046" type="select" id="virtualjaguar_p2_retropad_l3" values="num_5|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_6|num_7|num_8|num_9|star|hash|---" default="num_5"/>
		<setting label="30047" type="select" id="virtualjaguar_p2_retropad_r3" values="num_6|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_7|num_8|num_9|star|hash|---" default="num_6"/>
		<setting label="30048" type="select" id="virtualjaguar_p2_retropad_analog_lu" values="---|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash" default="---"/>
		<setting label="30049" type="select" id="virtualjaguar_p2_retropad_analog_ld" values="---|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash" default="---"/>
		<setting label="30050" type="select" id="virtualjaguar_p2_retropad_analog_ll" values="---|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash" default="---"/>
		<setting label="30051" type="select" id="virtualjaguar_p2_retropad_analog_lr" values="---|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash" default="---"/>
		<setting label="30052" type="select" id="virtualjaguar_p2_retropad_analog_ru" values="---|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash" default="---"/>
		<setting label="30053" type="select" id="virtualjaguar_p2_retropad_analog_rd" values="---|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash" default="---"/>
		<setting label="30054" type="select" id="virtualjaguar_p2_retropad_analog_rl" values="---|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash" default="---"/>
		<setting label="30055" type="select" id="virtualjaguar_p2_retropad_analog_rr" values="---|up|down|left|right|btn_a|btn_b|btn_c|pause|option|num_0|num_1|num_2|num_3|num_4|num_5|num_6|num_7|num_8|num_9|star|hash" default="---"/>
	</category>
</settings>
